<div [@routerTransition]>
    <app-page-header [heading]="'Contacts'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Loaded Contacts</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone #</th>
                            <th>Accepted Value</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Almog Laktivi</td>
                            <td>0523790759</td>
                            <td>2</td>
                            <td>--edit-icon--</td>
                            <td>--delete-icon--</td>
                        </tr>
                        <tr>
                            <td>Roi Shemesh</td>
                            <td>0545458754</td>
                            <td>1</td>
                            <td>--edit-icon--</td>
                            <td>--delete-icon--</td>
                        </tr>
                        <tr>
                            <td>Yotam Avivi</td>
                            <td>0526458774</td>
                            <td>0</td>
                            <td>--edit-icon--</td>
                            <td>--delete-icon--</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
